.padre{
border:5px solid black;
display: flex;
flex-wrap: wrap-reverse;
justify-content: center;

.hijo{
border:2px solid red;
width: 200px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;

}
