*{

}

body {
  background-repeat: repeat; 
  background-color: lightskyblue; 
}

h1 {
  border-bottom: 5px solid black;
  text-align: center
}

img { 
  border: black 5px solid;
  margin-right: 60px;
}

ul { border-radius;

}

li { border-start-end-radius: 30px;

}

p {
  
}

#header {
  
}

#content{
  
}

#text {
  width: 90%; 
  margin-left: 54px; 
  margin-right: 54px;
}

#text p {
  text-indent: 40px;
  padding: 10px;
  box-shadow: 10px 5px 5px black;
  border: 5px dashed black; 
  background-color: violet;
}

#text p:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(/practica2/images/fondoParrafo.png);
  background-repeat: repeat;
}

#text p:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#menu {
  text-align: center; 
}

#menu a{
  text-decoration: none; 
}


#menu li{
  display: inline; 
  border-left: 5px solid red; 
  padding-left: 5px; 
}

#menu li a:hover{
  border-bottom: 2px red solid;
}

#footer{
  border-top: 5px solid black;
}

#footer a{

}

#footer a:hover{

}
#image {
  text-align: right;
  
}

@media all and (max-width: 500px) {
  img { 
    border: 5px solid red; 
    margin-right: 0px; 
    width: 90%; 
    } 

  #image { 
    text-align: center; 
  } 
}
