#menu{
    background-color: green;
    color: white;
    text-align: center;
}

#menu li{
   display: inline;
}
#title{
   border: 5px greenyellow;
}
#main{
   border: 2px black;
   background-color: darkgray;
}
#izquierda{
   border: 2px red;
   float:left;
   width: 80%;
   background-color: darkgray;
}
#uno,#dos{
    border: 2px orange;
}

#unoTexto{
   float: left;
}
#unoImagen{
   float: right;
   width: 20%;
}
#dosTexto{
   float: right;
}
#dosImagen{
   float: left;
   width: 20%;
}
img {
    border: 5px dashed white;
    border-radius: 30px;
}


#derecha{
   float: right;
   border: 2px blue;
   width: 15%;
   text-align: center;
   background-color: darkgray;
}
#derecha li{ 
   list-style: none;
}
@media all and (max-width:700px){
    #unoImagen,#dosImagen,#derecha{
        float: none;
    }
    #derecha li{
        width: 90%;
    }
    #derecha li{
        display: inline;
    }
}